
body{
    background-image: url(fondo.jpeg);
    font-family: 'Courier New', Courier, monospace;
   
    
        
}

a{   text-decoration:none;
    color:rgb(0, 0, 0);
   
}

a:hover{
    text-decoration:overline;
}

#wrap{
    width: 960px;
    margin: auto;
    clear: both;
    
}
/*Header*/
header{
    width: 100%;
    float: left;
    @font-face
    font-family: center;
    background: #e1aeeb; /* Old browsers */
    border-radius: 20px;
    box-shadow: 0px 3px 5px #000;
    }

#subheader{
    width: 960px;
    margin: auto ; 
    
    
}

#logotipo{
    
    float: left;
    width: 300px;
    padding: 10px 0px;
    
}

#logotipo a{
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    color: #000;
    
}

#logotipo a:hover{text-decoration: none;}



/*--Menu --*/

header #subheader nav{
    float: left;
    width: 660px;
    padding: 30px 0px;
    text-align: center;
    
}

header #subheader nav ul li{
    display: inline;/*elemtos mostrados en linea*/
    font-family:'Courier New', Courier, monospace ;
    
    
}

header #subheader nav ul li a {
    color:rgb(0, 0, 0);
    font-size:18px;
    padding: 10px;
    border-radius:20px;
    
}

header #subheader nav ul li a:hover{
    color:rgb(0, 0, 0);
    background: #787e80;
    text-decoration: none;
}

/*Main*/


#main{
    width: 100%;
    margin: 20px 0px 0px 0px;
    float: left;
    font-family: cursive;
}




/*bienvenidos*/

#bienvenidos{
     width: 920px;
     float: left;
     padding: 20px;
     background: #ffc2c2; /* Old browsers */
     margin: 20px 10px;
     border-radius: 20px;
     box-shadow: 0px 3px 5px #000;/*Sombra*/
     font-family: cursive;

     
}

#bienvenidos article h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin-bottom: 10px;
    }

#bienvenidos article {
    color:rgb(0, 0, 0);
    line-height: 27px;

}
#bienvenidos article .fecha{
    
    font-size: 15px;/*tamaño de letra*/
    color:#cc88e0;
    margin-bottom: 5px;/*margen hacia abajo*/
}


/*Contenido*/

#contenido{
    width: 920px;
    float: left;
    padding: 20px;
    @font-face
    font-family:'Courier New', Courier, monospace;
    background: #ffc2c2; /* Old browsers */
    margin: 20px 10px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px #000;
    text-align: justify;
   /* width: 700px;*/
    /*float: left;*/
    }

    
    


#contenido article{
    float: left;
    margin-bottom: 20px;
}

#contenido article .titulo{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: justify;
    
}

#contenido article .fecha{
    
    font-size: 15px;/*tamaño de letra*/
    color:#cc88e0;
    margin-bottom: 5px;/*margen hacia abajo*/
}

#contenido article .thumb{
    width: 220px; /*largo*/
    height: 150px;/*ancho*/
    float: left;/*elementos a la izquierda*/
    margin: 0px 10px 10px 0px;
    
}
.thumb{ /*imagen formato*/
    width: 220px; /*largo*/
    height: 150px;/*ancho*/
    float: right;/*elementos a la izquierda*/
    margin: 0px 10px 10px 0px;
    border-radius: 20px;
}

#contenido article >p{
    color: #000000;
    font-size:14px;
    text-align: justify;
    line-height: 27px;/*espaciando entre cada linea*/
}

/*Sidebar*/
aside {
 
    
    width: 920px;
    float: left;
    padding: 20px;
    @font-face
    font-family:'Courier New', Courier, monospace;
    background: #aef6ff; /* Old browsers */
    margin: 2px 10px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px #000;
    text-align:justify;
}

aside .widget{
    
    margin-bottom: 10px;
    float: left;
}

aside .widget>h3{
   
    color: #000000;
    width: 220px;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    
}


aside .widget{
    color: rgb(245, 164, 211);
}

aside .widget ul li{
    margin-bottom: 5px;
    font-size: 15px;
}
#acerca-de {
    width: 920px;
    float: left;
    padding: 20px;
    background: #fffeba; /* Old browsers */
    margin: 20px 10px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px #000;/*Sombra*/
    font-family: cursive;

}
#redes-s{
    width: 920px;
    float: left;
    padding: 20px;
    background: #fffeba; /* Old browsers */
    margin: 20px 10px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px #000;/*Sombra*/
    font-family: cursive;

    
}
#redes-s article .titulo{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
    text-align: justify;
}
#copyright{
    width: 920px;
    float: left;
    padding: 20px;
    background: #fffeba; /* Old browsers */
    margin: 20px 10px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px #000;/*Sombra*/
    font-family: cursive;
}