/*Se reinicia el estilo*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
/* fuente */
@font-face {
    font-family: "love";
    src: url(/recursos/fuentes/Love.ttf);
}
@font-face {
    font-family: "redonda";
    src: url(/recursos/fuentes/Poppins-Medium.ttf);
}
.fuenteTitulo{
    font-family: "love";
    font-size:100px;
    position: relative;
    text-align: center;
    color: #538eb6;
}
.fuenteSubtitulos{
font-family: "love";
    font-size:35px;
    position: relative;
    color: white;
}
.fuenteParrafos{
    font-family: "redonda";
    font-size:18px;
    position: relative;
    color: white;
}
/* texto */
.centrar{
    
    margin: 0 auto;
}
/*fondo*/
.fondoHuellitas{
    background-color: rgb(38, 52, 71);
    
}