/*Se reinicia el estilo*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
/* fuente */
@font-face {
    font-family: "love";
    src: url(/recursos/fuentes/Love.ttf);
}
@font-face {
    font-family: "redonda";
    src: url(/recursos/fuentes/Poppins-Medium.ttf);
}
.fuenteTitulo{
    font-family: "love";
    font-size:100px;
    position: relative;
    text-align: center;
    color: #000000;
}
.fuenteSubtitulos{
font-family: "love";
    font-size:35px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.fuenteParrafos{
    font-family: "redonda";
    font-size:18px;
    position: relative;
    text-align: justify;
    color: rgb(0, 0, 0);
}
/* imagen */
.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    max-width: 100%;
    max-height: 100%;
    min-width: auto;
    min-height: auto;
}

.titulo{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(126, 87, 194); 
    border-radius: 20px;
    position: center;
}
/*fondo*/
.fondoHuellitas{
    
    
    background-image: url(/recursos/imagenes/gatoMorado.jpg);
    background-repeat: repeat-y repeat-x;
    background-size: 30rem;
      
}